.right-container > .xl-header {
    position: sticky;
    top: 0;
    z-index: var(--xl-head-z-index);
    height: calc($--xl-header-height);
    color: var(--el-text-color-primary);
    border-bottom: 1px solid var(--el-color-info-light-8);
    background-color: var(--xl-bg-color);
    backdrop-filter: saturate(50%) blur(4px);
    -webkit-backdrop-filter: saturate(50%) blur(4px);

    .xl-header-content {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        text-align: center;

        .xl-header-left,
        .xl-header-right {
            height: 100%;
        }
    }
}
