#xl-aside {
  width: var(--xl-aside-width);
  color: var(--el-text-color-primary);
  height: 100%;
  transition: 0.3s width;
  border-right: 1px solid var(--el-border-color-extra-light);
  .xl-scrollbar {
    height: calc(100% - $--xl-side-logo);
    .el-menu {
      border-right: none;
    }
  }
}

#xl-aside.collapse {
  width: var(--xl-aside-min-width) !important;
}
