:root {
  --xl-aside-width: #{$--xl-aside-width};
  --xl-aside-min-width: #{$--xl-aside-min-width};

  --xl-head-z-index: #{$--xl-head-z-index};
  --xl-collapse-btn-z-index: #{$--xl-collapse-btn-z-index};
}
