$--xl-bg-color: #ffffff;
$--xl-main-bg-color: #f0f2f5;

$--xl-aside-width: 200px;
$--xl-aside-min-width: 64px;
$--xl-header-height: 50px;
$--xl-side-logo: 50px;
$--xl-collapse-btn-width: 20px;
$--xl-collapse-btn-height: 20px;
$--xl-collapse-btn-hover-width: 30px;
$--xl-collapse-btn-hover-height: 30px;
$--xl-main-padding: 5px;
$--xl-main-inner-padding: 10px;

$--xl-head-z-index: 12;
$--xl-collapse-btn-z-index: 15;
